{% extends 'base.html.twig' %}

{% block body %}
  <h1>Parts list</h1>

  <ul>
    <ul>
      <button type=button><a href="{{ path('part_new') }}">Create a new part</a></button>
    </ul>
  </ul>

  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Actions</th>
      <th>More</th>
    </tr>
    </thead>
    <tbody>
    {% for part in parts %}
      <tr>
        <td><a href="{{ path('part_show', { 'id': part.id }) }}">{{ part.id }}</a></td>
        <td>{{ part.name }}</td>
        <td>{{ part.price }}</td>
        <td>{{ part.quantity }}</td>
        <td>{{ part.supplier }}</td>
        <td>
          <ul>
              <button type=button><a href="{{ path('part_show', { 'id': part.id }) }}">show</a></button>
          </ul>
          <ul>
              <button type=button><a href="{{ path('part_edit', { 'id': part.id }) }}">edit</a></button>
          </ul>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  
  <ul>
    <ul>
      <button type=button><a href="{{ path('part_new') }}">Create a new part</a></button>
    </ul>
  </ul>
{% endblock %}
