{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sale list</h1>

    <table>
        <thead>
        <tr>
            <th>Sale Id</th>
            <th>Car Id</th>
            <th>Make</th>
            <th>Model</th>
            <th>Travelled Distance</th>
            <th>Customer Id</th>
            <th>Customer Name</th>
            <th>Price before discount</th>
            <th>Discount</th>
            <th>Price after discount</th>
        </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
            <tr>
                <td>{{ sale.id }}</td>
                <td>{{ sale.car.id}}</td>
                <td>{{ sale.car.make}}</td>
                <td>{{ sale.car.model}}</td>
                <td>{{ sale.car.travelledDistance}}</td>
                <td>{{ sale.customer.id}}</td>
                <td>{{ sale.customer.name}}</td>
                {% set carPrice = 0 %}
                {% for p in sale.car.parts %}
                    {% set carPrice = carPrice + p.price %}
                {% endfor %}
                <td>{{ carPrice}}</td>
                <td>{{ sale.discount * 100 }}&#37;</td>
                <td>{{ carPrice*(1-sale.discount) }}</td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>s
{% endblock %}
