{% extends 'base.html.twig' %}

{% block body %}
  <h1>Car</h1>

  <table>
    <tbody>
    <tr>
      <th>Make</th>
      <td>{{ car.make }}</td>
    </tr>
    <tr>
      <th>Model</th>
      <td>{{ car.model }}</td>
    </tr>
    <tr>
      <th>Travelleddistance</th>
      <td>{{ car.travelledDistance }}</td>
    </tr>
    </tbody>
  </table>

  <h2>Parts of the Car</h2>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
    </thead>
     <tbody>
        {% for p in car.parts %}
            <tr>
                <td>{{ p.name }}</td>
                <td>{{ p.price }}</td>
            </tr>
        {% endfor %}
        </tbody> 
  </table>
{% endblock %}